<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/topTracks.css">
    <script src="../static/js/topTracks.js"></script>
    <title>Three Div Layout with YouTube Video</title>
</head>
<body>
    <div class="container">
        <div class="left">
            <p>Your Top 5 Songs</p>
            <div class="top-tracks">
                {% for track in top_tracks %}
                    <div class="song" onclick="showSongDetails('{{ track.name }}', '{{ track.artist }}')">
                        <div class="rank">
                            <p>{{ loop.index }}.</p>
                        </div>
                        <div class="title">
                            <p>{{ track.name }} by {{ track.artist }}</p>
                        </div>
                        <div class="albumCover">
                            <img src="{{ track.album_cover_url }}" alt="{{ track.name }}">
                        </div>
                    </div>
                    {% if not loop.last %}
                        <br>
                    {% endif %}
                {% endfor %}
            </div>
            <p>Created Suggested Playlist</p>
            <div class="new-playlist-songs">
                {% for track in playlist_tracks %}
                    <div class="song" onclick="showSongDetails('{{ track.name }}', '{{ track.artist }}')">
                        <div class="rank">
                            <p>{{ loop.index }}.</p>
                        </div>
                        <div class="title">
                            <p>{{ track.name }} by {{ track.artist }}</p>
                        </div>
                        <div class="albumCover">
                            <img src="{{ track.album_cover_url }}" alt="{{ track.name }}">
                        </div>
                    </div>
                    {% if not loop.last %}
                        <br>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="right">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/{{ top_tracks[0].video_id }}?&autoplay=1&mute=1" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="information">
                <p>{{ top_tracks[0].info }}</p>
            </div>
            <div class="add-playlist">
                <p>Would you like to add the playlist to your account?</p>
                <button onclick="showPopup()">Add Playlist</button>
            </div>
        </div>
    </div>
</body>
</html>
