
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "../static/css/topTracks.css">
        <script src = "../static/topTracks.js"></script>
        <title>Three Div Layout with YouTube Video</title>
    </head>
    <body>
        <div class="container">
            <div class="left">
                <div class = song>
                    <div class = "rank">
                        <p>1.</p>
                    </div>
                    <div class = "title">
                         <p>Late Night Talking by Harry Styles</p>
                    </div>
                    <div class = albumCover>
                         <img src="https://i.scdn.co/image/ab67616d0000b2732e8ed79e177ff6011076f5f0" alt="Late Night Talking">
                    </div>
                </div>
                /////////////////////////////////////////////////////////////////////////////////////////////////////////
                <div class="song" onclick="showSongDetails('lYoWuaw5nSk', 'Vance Joy is an Australian singer-songwriter known for his folk-pop sound. "Riptide" is one of his most popular songs, released in 2013. The song features Joy's distinctive vocals and catchy melody, receiving critical acclaim for its upbeat and infectious nature. "Riptide" helped propel Vance Joy to international success and is loved by fans for its sincere lyrics and feel-good vibes.')">
                    <div class = "rank">
                        <p>2.</p>
                    </div>
                    <div class = "title">
                         <p>Riptide by Vance Joy</p>
                    </div>
                    <div class = albumCover>
                         <img src="https://i.scdn.co/image/ab67616d0000b273a9929deb093a6617d2493b03" alt="Riptide">
                    </div>
                </div>
                /////////////////////////////////////////////////////////////////////////////////////////////////////////
                <div class = song>
                    <div class = "rank">
                        <p>3.</p>
                    </div>
                    <div class = "title">
                         <p>Heat Waves by Glass Animals</p>
                    </div>
                    <div class = albumCover>
                         <img src="https://i.scdn.co/image/ab67616d0000b273712701c5e263efc8726b1464" alt="Heat Waves">
                    </div>
                </div>
                /////////////////////////////////////////////////////////////////////////////////////////////////////////
                <div class = song>
                    <div class = "rank">
                        <p>4.</p>
                    </div>
                    <div class = "title">
                         <p>Adore You by Harry Styles</p>
                    </div>
                    <div class = albumCover>
                         <img src="https://i.scdn.co/image/ab67616d0000b27377fdcfda6535601aff081b6a" alt="Adore You">
                    </div>
                </div>
                /////////////////////////////////////////////////////////////////////////////////////////////////////////
                <div class = song>
                    <div class = "rank">
                        <p>5.</p>
                    </div>
                    <div class = "title">
                         <p>STAY (with Justin Bieber) by The Kid LAROI</p>
                    </div>
                    <div class = albumCover>
                         <img src="https://i.scdn.co/image/ab67616d0000b273b4d59e6fa7e5e7cbc57ac33a" alt="STAY (with Justin Bieber)">
                    </div>
                </div>
                /////////////////////////////////////////////////////////////////////////////////////////////////////////
            </div>
            <div class="right">
                <div class="top video-container">
                    <iframe src="https://www.youtube.com/embed/RwT77rlp2CE?&autoplay=1&mute=1"  frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="bottom">
                    <p>Harry Styles is a British singer-songwriter and former member of the band One Direction. "Late Night Talking" is a track from his self-titled debut solo album released in 2017. The song showcases Harry's soulful vocals and deals with themes of love, longing, and late-night conversations. It has a dreamy, nostalgic vibe that resonates with fans worldwide.</p>
                    
                    
                </div>
            </div>
        </div>
    </body>
    </html>
    